
.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.inputContainer > input {
  width: 100%;
}

.inputContainer > button {
  background-color: transparent;
  color: #aaa;
  font-size: 1.5rem;
  position: absolute;
  border: none;
  right: 2%;
  cursor: pointer;
}
