.letter {
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
}

.letter--skin {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: black;
  background-color: white;
}

.letter--hidden {
  color: transparent;
  pointer-events: none;
  user-select: none;
}

@media(min-width: 1200px) {
  .letter {
    width: 5rem;
    height: 5rem;
  }
  .letter--skin {
    font-size: 4rem;
  }
}